/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}
/* Common */

.mt-8 {
  margin-top: 9px;
}

.mt-16 {
  margin-top: 16px;
}

.white-text {
  color: #fff !important;
}

.text-center {
  text-align: center !important;
}

.float-right {
  float: right !important;
}

.btn {
  color: #fff;
  background-color: #000;
  margin-top: 15px;
  text-decoration: none;
  padding: 8px 16px;
  display: inline-block;
  border: none;
}

.btn:hover {
  background-color: #ccc;
  color: #000;
  cursor: pointer;
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.col {
  float: left;
  padding: 0 8px;
}

.col-third {
  width: 33.33333%;
}

.col-half {
  width: 50%;
}

.col-full {
  width: 100%;
}

/* Main */
/* Header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 46px;
  background-color: #000;
  z-index: 1;
}

#header .header-search-btn {
  line-height: 46px;
  float: right;
  font-size: 20px;
  color: #fff;
  padding: 0 18px;
}

#header .header-search-btn:hover {
  cursor: pointer;
  background-color: #f44336;
}
/* Navigation header */
#nav {
  display: inline-block;
}

#nav .nav-arrow-icon {
  font-size: 12px;
}

#nav > li {
  display: inline-block;
}

#nav li {
  position: relative;
}

#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}

#nav li a {
  text-decoration: none;
  padding: 0 24px;
  line-height: 46px;
  display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
  color: #000;
  background-color: #ccc;
}

#nav .subnav {
  display: none;
  min-width: 160px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav li:hover .subnav {
  display: block;
}

#nav .subnav > li {
  list-style-type: none;
}

#nav .subnav a {
  color: #000;
  padding: 0 12px;
}

/* Slider */
#slider {
  position: relative;
  margin-top: 46px;

  /* padding-top: 50% dùng để lấy chiều cao bằng 50% chiều dài */
  padding-top: 50%;
  background: url("https://i.pinimg.com/originals/07/b4/27/07b427c6bfabfb5d663efaaf05392b0c.png")
    top center / cover no-repeat;
}

#slider .slider-text {
  width: 100%;
  position: absolute;
  bottom: 47px;
  color: #fff;
  text-align: center;
}

#slider .slider-text-heading {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 25px;
}

#slider .slier-text-description {
  font-size: 15px;
}

/* Content */
/* Content section */
#content .content-section {
  width: 800px;
  padding: 64px 0 108px;
  margin-left: auto;
  margin-right: auto;
}

#content .section-heading {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 4px;
}

#content .section-sub-heading {
  margin-top: 25px;
  text-align: center;
  font-size: 15px;
  font-style: italic;
  opacity: 0.6;
}

#content .about-content {
  margin-top: 25px;
  font-size: 15px;
  text-align: justify;
  line-height: 1.4;
  /* Nếu là chữ tiếng Việt line-height: 1.6 */
}

#content .members-list {
  margin-top: 48px;
}

#content .member-name {
  font-size: 15px;
}

#content .member-avatar {
  margin-top: 15px;
  width: 154px;
  border-radius: 4px;
}

/* Tour section */

.tour-section {
  background-color: #000;
}

.tour-section .tickets-list {
  list-style-type: none;
  background-color: #fff;
  margin-top: 40px;
}

.tour-section li {
  border-bottom: 1px solid #ddd;
  padding: 11px 16px;
  font-size: 15px;
  color: #757575;
}

.tour-section .sold-out {
  background-color: #f44336;
  color: #fff;
  padding: 3px 8px;
  margin-left: 16px;
}

.tour-section .places-list {
  margin-top: 32px;
  margin-bottom: 0px;
}

.tour-section .place-img {
  width: 100%;
  display: block;
}

.tour-section .place-img:hover {
  opacity: 0.6;
}

.tour-section .place-content {
  padding: 16px;
  background-color: #fff;
  font-size: 15px;
}

.tour-section .place-heading {
  font-size: 15px;
}

.tour-section .place-time {
  color: #757575;
  margin-top: 15px;
}

.tour-section .place-description {
  margin-top: 15px;
}

/* Modal buy ticket */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
}

.modal-container {
  position: relative;
  background-color: #fff;
  width: 900px;
  max-width: calc(100% - 32px);
  min-height: 200px;
  animation: modalFadeIn ease 0.5s;
}

.modal-header {
  color: #fff;
  background-color: #009688;
  text-align: center;
  font-size: 30px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 4px;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 16px;
  color: #fff;
}

.modal-close:hover {
  color: #000;
  background-color: #ccc;
  cursor: pointer;
}

.icon-modal-header {
  margin-right: 16px;
}

.modal-body {
  padding: 16px;
  font-size: 15px;
}

.modal-label {
  display: block;
  margin-bottom: 12px;
}

.modal-input {
  width: 100%;
  margin-bottom: 24px;
  padding: 12px 8px;
  border: 1px solid #ccc;
}

#modal-pay {
  width: 100%;
  color: #fff;
  background-color: #009688;
  text-transform: uppercase;
  border: none;
  padding: 18px 0;
}

#modal-pay:hover {
  cursor: pointer;
  opacity: 0.8;
}

.help {
  padding: 16px;
  text-align: right;
}

.help a {
  color: #2196f3;
}

.modal-open {
  display: flex;
}
/* Contact */

.contact-section {
  margin-top: 50px;
}

.contact-info {
  font-size: 18px;
  line-height: 1.5;
}

.contact-info .contact-icon {
  width: 30px;
  display: inline-block;
}

.contact-section .form-control {
  padding: 10px;
  font-size: 15px;
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
}
.map-section .super-idol-video {
  width: 100%;
  min-height: 800px;
}

/* Footer */

#footer {
  background-color: #f1f1f1;
  padding: 64px 0;
  text-align: center;
}

#footer .socials-list a {
  color: gray;
  font-size: 22px;
  text-decoration: none;
}

#footer .socials-list a:hover {
  opacity: 0.8;
}

#footer .copyright {
  color: gray;
  margin-top: 16px;
}

#footer .copyright a {
  color: gray;
  text-decoration: underline;
}

#footer .copyright a:hover {
  cursor: pointer;
}

/* Animation Fade in buy ticket modal */
@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
